<% provide(:title, 'Register') %>
<div class="page-title">
  Preregistration
</div>

<div class="row">

  <div class="span6 offset3">
    <%= form_for(@registrant) do |f| %>
        <div class="registrant-info">
          If you would like to be a chair, discussant, or presenter at the conference please check the corresponding box below.
          If you are planning on staying at a nearby hotel for the conference what would be your preference?
        </div>

        <div class="empty-box"></div>

        <div class="form-label">Your Full Name</div>
        <%= f.text_field :name %>

        <div class="empty-box"></div>

        <div class="form-label">Your Email</div>
        <%= f.text_field :email %>

        <div class="empty-box"></div>

        <div class="form-label">Home Institution</div>
        <%= f.text_field :institution %>

        <div class="empty-box"></div>
        If you are doing more than just attending. Please check the box or boxes of your desired role.
        <div class="empty-box"></div>

        <div class="role-label">Presenter</div>
        <div class="check"><%= f.check_box :presenter %></div>

        <div class="role-label">Chair</div>
        <div class="check"><%= f.check_box :chair %></div>

        <div class="role-label">Discussant</div>
        <div class="check"><%= f.check_box :discussant %></div>

        <div class="empty-box"></div>

        <div class="form-label">If you are planning on being a discussant, which subject areas are you willing to discuss?</div>
        <%= f.text_field :subject %>


        <div class="empty-box"></div>
        <div class="form-label">(Non-Binding) What is your hotel preference?</div>

        <div class="role-label">
          <a href="http://doubletree3.hilton.com/en/hotels/california/doubletree-by-hilton-hotel-claremont-ONTCLDT/index.html">Double Tree </a>
        </div>
        <div class="check"><%= f.check_box :double %></div>

        <div class="role-label">
          <a href="http://www.casa425.com/">Casa 425</a>
        </div>
        <div class="check"><%= f.check_box :casa %></div>

        <div class="role-label">
          Other
        </div>
        <div class="check"><%= f.check_box :red %></div>

        <div class="empty-box"></div>

        <%= f.submit "Register for Conference", class: "button1" %>

    <% end %>
  </div>
</div>