<div class="top-header">
  <div class="title">
    Workshop in Macroeconomics
  </div>
  <div class="title-two">
    at Liberal Arts Colleges 2013
  </div>
  <div class="title-three">
    <a href="http://www.claremontmckenna.edu">Claremont Mckenna College</a>
  </div>
</div>

<div class="top-of-page-two">
     <div class="header-text">
       <div class="spacing">
         <%= link_to "Home", root_path, style: "color: #EBEBEB"%>
       </div>
       <div class="spacing">
         <%= link_to "Accommodations", accommodations_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing">
         <%= link_to "Directions", directions_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing">
         <%= link_to "Call for Papers", call_for_papers_path, style: "color: #EBEBEB" %>
       </div>
       <div class="spacing2">
         <%= link_to "Conference Schedule", schedule_path, style: "color: #EBEBEB" %>
       </div>
     </div>
</div>

